*{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

}
.create-login-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap:100px;
    
  }
.create-login-page {
    display:flex;
    justify-content:flex-end;
    background-color:#f9f5f2;
    height:100vh;
    padding-right:50px;
    font-family: 'Arial', sans-serif;
    margin:0;

}


#login-section {
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width:450px;
    height:550px;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index:1;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.formgroup {
    margin-bottom: 12px;
}

label {
    margin-bottom: 15px;
    margin-top:15px;
    display: inline-block;

 }
  
input[type = "text"], input[type="password"] {
    width: calc(50%);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:5px;
    box-sizing: border-box;
}

input[type="text"][name="email"]:hover,
input[type="password"][name="pwd"]:hover,
input[type="text"][name="firstname"]:hover,
input[type="text"][name="lastname"]:hover,
input[type="text"][name="usertype"]:hover
{
    background: linear-gradient(135deg, #cccccc, #969696);
    transform: translateY(-3px); 
}

button.signin, button.returnHome {

    border: none;
    padding: 15px 30px;
    margin-top: 10px;
    margin-left:30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius:8px;
    background: linear-gradient(135deg, #969595, #d3d3d3);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  }

button:hover.signin, button:hover.returnHome {
    background: linear-gradient(135deg, #cfcece, #838282);
    transform: translateY(-3px); 
  
  
  }
.instructor-icon, .newuser-icon {
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left:25px;
  }

.homeavatar {
    width:30px;
    height:auto;
}
.returnHome {
    margin-bottom: 300px;
    margin-right: 300px;
    background: linear-gradient(135deg, #ededed, #d3d3d3);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}




.main_title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    text-align: center;
    text-shadow: 
      1px 1px 0px #a9a9a9,  
      2px 2px 0px #a9a9a9,
      3px 3px 0px #a9a9a9,
      4px 4px 0px #a9a9a9,
      5px 5px 0px #a9a9a9,
      6px 6px 5px rgba(0, 0, 0, 0.6), 
      7px 7px 10px rgba(0, 0, 0, 0.4),
      8px 8px 15px rgba(0, 0, 0, 0.2); 
    line-height:0px;

} 
