*{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;

}
.instructor-login-container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap:100px;
    
  }
.instructor-login-page {
    display:flex;
    justify-content:flex-end;
    background-color:#f9f5f2;
    height:100vh;
    padding-right:50px;
    font-family: 'Arial', sans-serif;
    margin:0;

}


#login-section {
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width:400px;
    height:550px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    z-index:1;
}

#login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
    margin-top:15px;
    display: inline-block;

 }
  
input[type = "text"], input[type="password"] {
    width: 200px !important;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:5px;
    box-sizing: border-box;
}

input[type = "text"]:hover, input[type="password"]:hover {
    background: linear-gradient(135deg, #fdb8b6, #ff716c);
    transform: translateY(-3px); 
}



button.login, button.return {
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius:8px;
    background: linear-gradient(135deg, #fdb8b6, #ff716c);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  }

button:hover {
    background: linear-gradient(135deg, #ff716c, #fdb8b6);
    transform: translateY(-3px); 
  
  }
.instructor-icon, .newuser-icon {
    width: 600px; 
    height: 500px;
    margin-top: 50px;
    margin-left:25px;
  }

.home-avatar {
    width:30px;
    height:auto;
}
.return {
    margin-bottom: 300px;
    margin-right: 300px;
    background: linear-gradient(135deg, #ffd6d2, #fdbbb3);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}




.title {
    font-size: 3rem !important;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    text-align: center;
    text-shadow: 
      1px 1px 0px #ff716c,  
      2px 2px 0px #ff716c,
      3px 3px 0px #ff716c,
      4px 4px 0px #ff716c,
      5px 5px 0px #ff716c,
      6px 6px 5px rgba(0, 0, 0, 0.6), 
      7px 7px 10px rgba(0, 0, 0, 0.4),
      8px 8px 15px rgba(0, 0, 0, 0.2); 
    line-height:0px;

} 
  

  /* media queries */
  @media (max-width: 600px) {
    .instructor-login-page {
        justify-content: center;
        padding-right: 10px;
    }

    #login-section {
        width: 80vw; 
        height: auto;
    }

    .instructor-icon, .newuser-icon {
        width: 80vw;
        height: auto; 
    }

    button.login, button.return {
        width: 100%; 
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .instructor-login-page {
        padding-right: 30px;
    }

    #login-section {
        width: 60vw;
    }

    .instructor-icon, .newuser-icon {
        width: 50vw;
        height: auto;
    }

    button.login, button.return {
        width: 80%; 
    }
}

@media (min-width: 1025px) {
    .instructor-login-page {
        padding-right: 50px;
    }

    #login-section {
        width: 400px; 
        height: 550px;
    }

    .instructor-icon, .newuser-icon {
        width: 600px;
        height: 500px;
    }
}

  

  
 


  

