body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
.main-container {
    background-color:#f9f5f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow:hidden;

}
.title-container {
    margin-bottom:30px;
    padding-top:10px;
}


.maintitle {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 50px;
    color: #111;
    text-shadow: 
      1px 1px 0px #ffcc00,  
      2px 2px 0px #ffcc00,
      3px 3px 0px #ffcc00,
      4px 4px 0px #ffcc00,
      5px 5px 0px #ffcc00,
      6px 6px 5px rgba(0, 0, 0, 0.6), 
      7px 7px 10px rgba(0, 0, 0, 0.4),
      8px 8px 15px rgba(0, 0, 0, 0.2); 
      line-height:35%;

}  
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-top:70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #333;
}  


.button-container {
    display: flex;
    gap: 25px; 
    margin-top: 250px;
}
.button {
    background-color: #fff700;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius:8px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}  
.button:hover {
    background-color: #ffcc00; 
    transform: translateY(-3px); 
  }

.button:focus {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(255, 199, 0, 0.6);
  }

