body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f5f2;
}

main-container {
    display: flex;
}

.stingers {
    width:70px;
    height:auto;
}

nav {
    width: 150px;
    height: 100%;
    background-color: #ffcc00;
    position: fixed;
    top:0;
    left: 0;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#profile {
    padding-top: 370px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration:none;
    display: block;
    padding:20px;
    text-align: left;
}

nav a:hover {
    color: black;
}

content {
    margin-left: 220px;
    padding: 20px;
}

.title {
    font-size:27px;
    margin-top:20px;
}